<div *ngIf="isAuth">
    <p *ngIf="currentMatch">
        <span *ngIf="currentMatch?.number != null">Your number is <b>{{currentMatch.number}}</b>. </span>
        Left:
        <countdown [config]="countDownConfig" (event)="countDownEventHandler($event)" *ngIf="countDownConfig"></countdown>
    </p>
    <p class="match-actions">
        <button class="btn btn-primary" (click)="playNow()" *ngIf="!currentMatch || currentMatch.number == null">Play Now</button>
        <button class="btn btn-secondary" (click)="refresh()">Refresh results</button>
    </p>
</div>
<div *ngIf="!isAuth">
    <p>Login to play.</p>
    <p class="match-actions">
        <button class="btn btn-secondary" (click)="refresh()">Refresh results</button>
    </p>
</div>

<h3>Last winners</h3>
<p *ngIf="!matchResults"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="matchResults?.length > 0">
    <thead>
    <tr>
        <th>Expiration</th>
        <th>Name</th>
        <th>Number</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let result of matchResults">
        <td>{{ printDate(result.expiration) }}</td>
        <td>{{ result.winnerName }}</td>
        <td>{{ result.winnerNumber }}</td>
    </tr>
    </tbody>
</table>
<p *ngIf="matchResults?.length === 0">No winners.</p>
